.container {
	display: grid;
	grid-template-columns: 7fr 3fr;
}

.myId {
	margin-right: 5rem;
	border-radius: 5px;
	-webkit-box-shadow: -2px -2px 41px -4px #000000;
	box-shadow: -2px -2px 15px -4px #000000;

	padding: 2rem;
	display: grid;
	justify-content: center;
	align-content: center;
}

.call-button {
	text-align: center;
	margin-top: 2rem;
}

.video-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-content: center;
	margin-left: 10rem;
}

.caller {
	text-align: center;
	color: rgb(0, 0, 0);
}